.body {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
}

.discription {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.discription h3 {
    font-weight: 300;
    margin: 0;
}

.discription h1 {
    font-size: 100px;
    margin: 0;
    line-height: 1.2;
}

.discription button {
    width: 269px;
    height: 66px;
    background-color: 718EDE;
    color: D7EEFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 52px;
    border: none;
    margin-top: auto;
}


.photo img {
    width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(40%);
    transition: filter 0.3s ease;
}

.photo img:hover {
    filter: grayscale(0%);
}