.project-section {
    margin-top: 50px;
}

.project-container {
    max-height: 1400px;
    overflow-y: auto;
    padding: 10px;
}

.project-container::-webkit-scrollbar {
    width: 10px;
}

.project-container::-webkit-scrollbar-track {
    background: 292A2A;
}

.project-container::-webkit-scrollbar-thumb {
    background-color: #1e1e1e;
    border-radius: 10px;
    transition: background-color 0.25s ease;
}

.project-container::-webkit-scrollbar-thumb:hover {
    background-color: #686464;
  }

.project-thumbnail {
    background-color: #1E1E1E;
    width: 100%;
    border-radius: 14px;
    display: flex;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: transform 0.25s ease;
}

.project-thumbnail:hover {
    transform: scale(1.005);
    cursor: pointer;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    margin-right: 20px;
}

.thumbnail img {
    background-color: #a3a1a1;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.thumbnail h5 {
    text-align: center;
}

.project-description {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project-date {
    text-align: end;
    margin-right: 50px;
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    margin-top: auto;
}